<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindYourSelf - View Moods</title>
    <link rel="icon" href="/img/emotion.png">
    <script src="/scripts/loader.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/mystyles.css">
    <script src="/scripts/theme.js"></script>
</head>

<body>
    <div id="loader" class="center" style="z-index: 9999;"></div>
    <%- include('partials/navbar') %>
        <%- include('partials/viewFilters') %>

            <script> document.getElementById("nav-view").classList.add("active")</script>
            <div class=" container-fluid mt-3 mb-auto pb-3 mx-auto">

                <% if(typeof errMessage !="undefined" && errMessage) { %>
                    <div class="mt-5 mb-3">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>
                                <%= errMessage %>
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <% } %>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content rounded-4 shadow">
                                    <button type="button" class="btn-close p-2 ms-auto" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                    <div class="modal-body text-center fs-4 py-0">
                                        <span class="d-block text-danger " style=" font-size: 4rem;">
                                            <i class="bi bi-exclamation-circle d-flex justify-content-center"
                                                style=""></i></span>
                                        <p class="mb-1">Do you really want to delete this Mood?</p>
                                        <p class="mb-1">This cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer flex-column w-100  border-top-0">
                                        <form action="" method="POST" id="form-delete-mood">
                                            <button type="button" class="btn btn-secondary mx-2"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger mx-2" value="submit">Delete
                                                Mood</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content rounded-4 shadow">

                                    <button type="button" class="btn-close p-2 ms-auto" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                    <div class="modal-body text-center fs-4 py-0">
                                        <form action="" method="POST" id="form-update-mood">
                                            <div class="row my-2">
                                                <div
                                                    class="col-1 my-2 p-0 d-flex text-center align-items-center justify-content-center ">
                                                    <i class="bi bi-arrow-left-short fs-3 cursor-p"
                                                        id="context-scroll-left"></i>
                                                </div>
                                                <div
                                                    class="col-10 my-2 mx-0 p-0 d-flex justify-content-center align-items-center ">
                                                    <ul class="list-group list-group-horizontal mb-3 overflow-x-scroll context-scroll"
                                                        id="context-list">
                                                        <%contextType.forEach(contextType=>{%>
                                                            <div class="text-center ">
                                                                <h6 class="fw-lighter m-0" style="font-size: 0.75rem;">
                                                                    <%=contextType.context_type_name %>
                                                                </h6>

                                                                <li class="list-group-item border border-3 rounded mx-1 my-auto"
                                                                    id="<%=contextType.context_type_name %>-box">
                                                                    <input type="checkbox"
                                                                        name="<%=contextType.context_type_name %>"
                                                                        id="<%=contextType.context_type_name %>"
                                                                        style="display: none;">
                                                                    <i
                                                                        class="bi <%=contextType.context_icon%> fw-medium fs-2 lh-base p-1"></i>
                                                                    </input>

                                                                </li>
                                                            </div>

                                                            <script>
                                                                const <%=contextType.context_type_name %> = document.getElementById('<%=contextType.context_type_name %>')
                                                                const <%=contextType.context_type_name + "_box" %> = document.getElementById('<%=contextType.context_type_name %>-box')
                                                                    <%=contextType.context_type_name + "_box" %>.addEventListener('click', () => {
                                                                         <%=contextType.context_type_name %>.checked = !<%= contextType.context_type_name %>.checked;
                                                            <%=contextType.context_type_name + "_box" %>.classList.toggle('context-box-checked');



                                                                    });
                                                            </script>

                                                            <% }) %>
                                                    </ul>
                                                </div>
                                                <div
                                                    class="col-1 my-2 p-0 d-flex text-center align-items-center justify-content-center ">
                                                    <i class="bi bi-arrow-right-short fs-3 cursor-p"
                                                        id="context-scroll-right"></i>
                                                </div>
                                                <script>
                                                    const contextScrollRight = document.getElementById('context-scroll-right');
                                                    const contextScrollLeft = document.getElementById('context-scroll-left');
                                                    const contextList = document.getElementById('context-list');
                                                    contextScrollRight.addEventListener('click', () => {
                                                        contextList.scroll(500, "smooth");
                                                    })
                                                    contextScrollLeft.addEventListener('click', () => {
                                                        contextList.scroll(-500, "smooth");
                                                    })

                                                </script>

                                                <div class="">

                                                    <textarea type="text" class="form-control text-center  d-inline"
                                                        name="contextComment" id="context-comment"></textarea>
                                                    <div class="modal-footer w-100 justify-content-center border-top-0">
                                                        <button class="btn btn-outline-primary mt-2 mx-2 " type="button"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-primary mt-2 mx-2">Save
                                                            Changes</button>

                                                    </div>

                                                </div>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-cols-auto justify-content-center mx-auto">
                            <!-- Mood Cards -->
                            <% if(moods) { %>
                                <% for(let mood of moods) { %>

                                    <div class="col mb-3 text-center">

                                        <div class="card mood-card h-100 shadow">
                                            <div class="card-header  d-flex justify-content-between ">
                                                <div><i class="bi bi-calendar-event mx-1"></i>
                                                    <%=new Date(mood.mood_timestamp).toString().substring(0,21) %>
                                                </div>
                                                <div class="dropdown d-flex align-items-end">

                                                    <i class="bi bi-three-dots-vertical" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    </i>
                                                    <ul class="dropdown-menu" style="min-width: 3rem;">

                                                        <!-- Button trigger edit modal -->
                                                        <li><button class="dropdown-item d-flex justify-content-between"
                                                                data-bs-toggle="modal" data-bs-target="#editModal"
                                                                type="button"
                                                                onclick="editMood(<%=mood.mood_id%>, '<%=mood.context_comment%>')">Edit<i
                                                                    class="bi bi-pencil-square mx-1"></i></button>
                                                        </li>

                                                        <!-- Button trigger delete modal -->
                                                        <li><button type="button"
                                                                class="dropdown-item d-flex justify-content-between"
                                                                data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                                onclick="deleteMood(<%=mood.mood_id%>)">Delete<i
                                                                    class="bi bi-trash3 mx-1"></i></button>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="card-body bg-body-tertiary">
                                                <ul class="list-group mb-1 "></ul>
                                                <% for ( let emotion of mood.emotion) { %>
                                                    <li class="list-group-item py-0 " style="border-style:none;">
                                                        <%= emotion.emotion_name.substring(0,1).toUpperCase()+emotion.emotion_name.substring(1)
                                                            %>
                                                            <div
                                                                class="row d-flex align-items-center justify-content-center ">
                                                                <div class="col-1 m-0 p-0 fw-medium  d-flex ">
                                                                    <i class="bi <%=emotion.emotion_icon%> "></i>
                                                                </div>

                                                                <div class="col-10 ">
                                                                    <div class="progress " role="progressbar"
                                                                        aria-label="Example with label"
                                                                        aria-valuenow="25" aria-valuemin="0"
                                                                        aria-valuemax="100"
                                                                        style="--bs-progress-bar-bg: <%=emotion.emotion_colour%>;">

                                                                        <div class="progress-bar"
                                                                            style="width:<%= emotion.emotion_level*10%>%">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </li>
                                                    <% } %>

                                                        </ul>
                                                        <div class="d-flex justify-content-center ">
                                                            <div class=" mt-2 p-0 flex-grow-1">
                                                                <ul class="list-group list-group-horizontal mb-3 p-0 row row-cols-auto g-2 justify-content-center"
                                                                    id="context-list">
                                                                    <% if(mood.context) for ( let context of
                                                                        mood.context){ %>
                                                                        <div class="col">
                                                                            <h6 class="fw-lighter m-0"
                                                                                style="font-size: 0.75rem;">
                                                                                <%=context.context_type_name %>
                                                                            </h6>

                                                                            <li class="list-group-item border border-3 rounded justify-content-between"
                                                                                id="<%=context.context_type_name %>-<%=mood.mood_id%>">
                                                                                <i
                                                                                    class="bi <%=context.context_icon%> fw-medium fs-4"></i>
                                                                            </li>
                                                                        </div>

                                                                        <%}%>
                                                                </ul>

                                                                <% if(mood.context_comment) { %>
                                                                    <div class="form-control " style="width: 100%;"
                                                                        id="mood-context-<%=mood.mood_id%>">
                                                                        <%=mood.context_comment %>
                                                                    </div>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                            </div>


                                            <div class="card-footer">
                                                <% const currentDate=Date.now(); const moodDate=new
                                                    Date(mood.context_timestamp); let lastUpdate=currentDate - moodDate;
                                                    %>

                                                    <small class="text-body-secondary">Last updated <% var
                                                            diffDays=Math.floor(lastUpdate / 86400000); var
                                                            diffHrs=Math.floor((lastUpdate % 86400000) / 3600000); var
                                                            diffMins=Math.floor(((lastUpdate % 86400000) % 3600000) /
                                                            60000); %>

                                                            <% if(diffDays>1) { %> <%= diffDays + " days" %>
                                                                    <% } else if(diffDays>0) {%><%= diffDays + " day" %>
                                                                            <% } %>
                                                                                <% if(diffHrs>1) { %> <%= diffHrs
                                                                                        + " hours " %>
                                                                                        <% } else if(diffHrs>0)
                                                                                            {%><%= diffHrs + " hour" %>
                                                                                                <% }if(diffMins>
                                                                                                    1 &&
                                                                                                    !diffDays>0)
                                                                                                    { %>
                                                                                                    <%=diffMins
                                                                                                        + " minutes" %>
                                                                                                        <% }else
                                                                                                            if(diffMins>
                                                                                                            0 &&
                                                                                                            !diffDays>0)
                                                                                                            {%>
                                                                                                            <%= diffMins
                                                                                                                + " minute"
                                                                                                                %>
                                                                                                                <% }if(
                                                                                                                    (lastUpdate
                                                                                                                    /
                                                                                                                    1000)
                                                                                                                    <60
                                                                                                                    )
                                                                                                                    {%>
                                                                                                                    just
                                                                                                                    now
                                                                                                                    <% }else
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        ago
                                                                                                                        <%}%>
                                                    </small>
                                            </div>

                                        </div>

                                    </div>

                                    <% } %>
                                        <% } else { %>
                                            <h1 class="text-center">No moods to show... <a href="/mood/add"> Add
                                                    mood?</a>
                                            </h1>
                                            <% } %>
                        </div>
            </div>



            <nav class="container text-center mt-auto mb-2 mt-auto" aria-label="Page navigation hstack">
                <ul class="pagination justify-content-center p-0 mx-2">
                    <li class="page-item ">
                        <a class="page-link" id="prev-page" onclick="prevPage()">Previous</a>
                    </li>
                    <% for(var i=1; i<=totalPages; i++) { %>
                        <li class="page-item"><a class="page-link" id="page-link<%= i %>" onclick="setPage(<%= i %>)">
                                <%= i %>
                            </a></li>

                        <% } %>
                            <li class="page-item">
                                <a class="page-link px-4" id="next-page" onclick="nextPage()">Next</a>
                            </li>
                </ul>
            </nav>

            <%- include('partials/footer') %>

                <script>
                    function deleteMood(id) {
                        const deleteMoodForm = document.getElementById('form-delete-mood');
                        deleteMoodForm.action = "/mood/delete/" + id;
                    }

                    function editMood(id, comment) {
                        const contextComment = document.getElementById('context-comment');
                        const updateMoodForm = document.getElementById('form-update-mood');
                        updateMoodForm.action = "/mood/update/" + id;
                        contextComment.innerHTML = comment;

                    }
                </script>
                <script src="/scripts/moodPagination.js" total-pages="<%= totalPages%>"></script>
                <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>

</body>

</html>